<br />
<br />
<br />
<br />
<br />

<div class="container text-center">
    <h3 class="text-primary mb-3">إجمالي المدفوعات</h3>
    <p class="lead">المبلغ الإجمالي المدفوع: <span class="text-success">@ViewBag.TotalAmount</span></p>
</div>
